/* PAGE */
html, body {
	background-color: #888;
}

/* SEARCH BAR */
#search-bar-container {
  display: inline-table;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
