/* PAGE */
html, body {
	width: 100%;
	height: 100%;
	display: block;
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: white;
}

body{
	background-image: url("https://hdqwalls.com/download/blue-lake-water-green-trees-plants-forests-xs-3840x2400.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center;
	background-attachment: fixed;
	opacity: 0.9;
}

.centered-width {
	width: 60vw;
	min-width: 800px;
	margin: 0 auto;
}

/* COLLAGE / ERROR-MESSAGE AREA */
/* located in #collage-area */
#collage-generator {
  position: relative;
  width: 100%;
  text-align: center;
}

#collage-container {
}

#collage-caption {
  font-size: 24pt;
  padding: 15px 0;
  margin-left:auto;
  margin-right:auto;
  padding-top: 30px;
  color: black;
}

.collage-area {
  background-color: white;
  margin-left:auto;
  margin-right:auto;
  font-size: 18px;
}

.display-collage {
	display: block;
}

#collage-placeholder {
	/*display: none;*/
}

.placeholder {
}

.error-message {
	padding-top: 275px;
	font-size: 18pt;
	color: black;
}

/* SEARCH & EXPORT BAR */
/* located in #search-container */

/* SAVED COLLAGES */
/* located in #saved-collages */
#saved-collages {
  position: relative;
  background-color: white;
  padding: 20px 0;

  /* for horizontal scroll */
  width: auto;
  height: 120px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.saved-collage {
    margin: 0 10px;
    display: inline-block;
    width: 210px;
    height: 120px;
}

.input-box{
  width: 50%;
  padding-left: 10px;
  font-size: 15px;
  font-family: Serif;
  border-color: #555;
  border-width: 1px;
  background-color: white;
  padding:5px;
}

.search-bar-button {
  padding: 10px;
  background-color: #555;
  color: white;
  font-size: 15px;
  font-family: Serif;
}

.option-line{
  padding-top:5px;
  padding-bottom:5px;
}