/* PAGE */
html, body {
	background-color: white;
}

.centered-width {
	width: 60vw;
	min-width: 800px;
	margin: 0 auto;
}

/* COLLAGE / ERROR-MESSAGE AREA */
/* located in #collage-area */
#collage-generator {
  position: relative;
  width: 100%;
  text-align: center;
}

#collage-container {
}

#collage-caption {
  font-size: 24pt;
  padding: 15px 0;
  padding-top: 30px;
  color: black;
}

.collage-area {
  width: 60vw;
  height: 45vh;
  min-width: 800px;
  min-height: 600px;
  background-color: white;
  margin: 0 auto;
  font-size: 18px;
}

.display-collage {
	display: block;
}

#collage-placeholder {
	/*display: none;*/
}

.placeholder {
}

.error-message {
	padding-top: 275px;
	font-size: 18pt;
	color: black;
}


/* SEARCH & EXPORT BAR */
/* located in #search-container */
#search-container {
  padding: 10px 0;
}

#search-bar-container {
  display: inline-block;
  padding: 15px 0;
}

/* SAVED COLLAGES */
/* located in #saved-collages */
#saved-collages {
  position: relative;
  background-color: white;
  padding: 20px 0;

  /* for horizontal scroll */
  width: auto;
  height: 120px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.saved-collage {
    margin: 0 10px;
    display: inline-block;
    width: 210px;
    height: 120px;
}
